@import "./variables";

.footer {
    --padding-bottom: 38px;
    --padding-top: 199px;
    padding-top: var(--padding-top);
    background-color: $very-light-dark-blue;
    padding-bottom: var(--padding-bottom);

    @media (min-width: $desktop_breakpoint) {
        --padding-bottom: 90px;
    }

    &__content {
        @include flex-column-layout();
        align-items: flex-start;
        gap: 78px;
        padding-top: 41px;

        @media (min-width: $desktop_breakpoint) {
            flex-direction: row;
            justify-content: space-between;
            gap: unset;
        }

        &__contacts {
            @include flex-column-layout();
            align-items: flex-start;
            gap: 22px;

            @media (min-width: $desktop_breakpoint) {
                flex-direction: row;
                justify-content: space-between;
                gap: 81px;
            }

            &__information {
                max-width: 375px;
                @include flex-row-layout();
                align-items: flex-start;
                gap: 28px;

                svg {
                    width: 32px;
                }
            }

            &__list {
                @include flex-column-layout();
                gap: 24px;

                &__item {
                    @include flex-row-layout();
                    gap: 28px;
                }
            }
        }

        &__navigation {
            @include flex-row-layout();
            align-items: flex-start;
            flex-direction: column;
            gap: 49px;

            @media (min-width: $desktop_breakpoint) {
                flex-direction: row;
                justify-content: space-between;
                gap: 81px;
            }

            &__list {
                @include flex-column-layout();
                gap: 22px;
            }
        }

        &__social {
            @include flex-row-layout();
            gap: 14px;
            align-self: center;

            @media (min-width: $desktop_breakpoint) {
                align-self: flex-start;
            }
        }
    }
}