@font-face {
  font-family: "Open Sans Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/open-sans-700.woff2") format(woff2), url("../fonts/open-sans-700.woff") format(woff); }

@font-face {
  font-family: "Open Sans Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/open-sans-400.woff2") format(woff2), url("../fonts/open-sans-400.woff") format(woff); }

@font-face {
  font-family: "Raleway Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-700.woff2") format(woff2), url("../fonts/raleway-700.woff") format(woff); }

@font-face {
  font-family: "Raleway Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../fonts/raleway-400.woff2") format(woff2), url("../fonts/raleway-400.woff") format(woff); }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #181f2a;
  color: white;
  font-size: 14px;
  margin: 0; }

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: currentColor;
  text-decoration: none; }

p {
  margin: 0; }

img {
  max-width: 100%; }

button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  cursor: pointer; }

input {
  font-family: 'Open Sans', sans-serif; }

.call-to-action {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: linear-gradient(138deg, #65e2d9 -49%, #339ecc 100%);
  border-radius: 28px;
  border: unset;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 53px;
  padding-right: 53px; }
  .call-to-action:hover {
    background: #8adae3; }
  .call-to-action:focus {
    outline: none; }

.container {
  padding-left: 26px;
  padding-right: 26px; }
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
      margin: 0 auto; } }

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 44px; }
  @media (min-width: 1440px) {
    .header {
      padding-top: 73px;
      padding-bottom: 90px; } }
  .header__title {
    width: 30%; }
  .header__navigation {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: #e9dfdf; }
    .header__navigation__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 22px; }
      @media (min-width: 1440px) {
        .header__navigation__list {
          gap: 54px; } }
      .header__navigation__list__item__link:hover {
        text-decoration: underline;
        color: white; }

.masthead {
  text-align: center;
  padding-bottom: 110px;
  max-width: 500px;
  margin: auto; }
  .masthead__illustration {
    width: 80%; }
  .masthead__title {
    padding-top: 38px;
    padding-bottom: 23px;
    font-size: 24px; }
    @media (min-width: 1440px) {
      .masthead__title {
        font-size: 42px; } }
  .masthead__description {
    padding-bottom: 30px;
    max-width: 430px; }
    @media (min-width: 1440px) {
      .masthead__description {
        font-size: 24px;
        max-width: unset; } }
  @media (min-width: 1440px) {
    .masthead {
      max-width: 720px;
      margin: auto; } }

.article-feature {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 106px;
  text-align: center;
  padding-bottom: 138px; }
  @media (min-width: 1440px) {
    .article-feature {
      grid-template-columns: repeat(2, 1fr);
      max-width: 60%;
      row-gap: 106px;
      column-gap: 153px;
      margin: auto; } }
  .article-feature__list__title {
    font-size: 24px;
    padding-top: 32px;
    padding-bottom: 12px; }

.article-productivity {
  padding-bottom: 137px; }
  @media (min-width: 1440px) {
    .article-productivity {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 60px; } }
  .article-productivity__title {
    font-size: 18px;
    padding-top: 44px;
    padding-bottom: 20px; }
    @media (min-width: 1440px) {
      .article-productivity__title {
        font-size: 32px;
        max-width: 50%; } }
  .article-productivity__description {
    padding-bottom: 23px; }
    @media (min-width: 1440px) {
      .article-productivity__description {
        max-width: 80%;
        font-size: 18px; } }
  .article-productivity__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    color: #65e2d9;
    width: fit-content;
    border-bottom: 1px solid #65e2d9;
    padding-bottom: 5px; }

.article-testimonials {
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding-top: 40px;
  padding-bottom: 55px; }
  .article-testimonials__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 22px; }
    @media (min-width: 1440px) {
      .article-testimonials__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 41px; } }
    .article-testimonials__list__team {
      background-color: #202a3c;
      border-radius: 4px;
      padding: 30px 20px;
      box-shadow: 5px 5px 8px 4px #141414; }
      .article-testimonials__list__team__link__description {
        padding-bottom: 21px; }
      .article-testimonials__list__team__link__information {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 13px; }
        .article-testimonials__list__team__link__information__profile {
          border-radius: 50%;
          width: 26px; }
        .article-testimonials__list__team__link__information__about {
          display: flex;
          flex-direction: row;
          align-items: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 5px; }
          .article-testimonials__list__team__link__information__about__name {
            font-size: 18px; }

.article-signin {
  background-color: #1c2431;
  text-align: center;
  padding: 66px 26px;
  max-width: 375px;
  margin: auto;
  box-shadow: 5px 5px 8px black;
  border-radius: 9px;
  position: relative;
  bottom: -100px;
  z-index: 1; }
  @media (min-width: 1440px) {
    .article-signin {
      max-width: 50%;
      padding: 66px 75px; } }
  .article-signin__title {
    font-size: 18px;
    padding-bottom: 21px; }
  .article-signin__description {
    padding-bottom: 30px; }
    @media (min-width: 1440px) {
      .article-signin__description {
        max-width: 86%;
        margin: 0 auto; } }
  .article-signin__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    gap: 20px; }
    @media (min-width: 1440px) {
      .article-signin__form {
        flex-direction: row; } }
    .article-signin__form__input {
      width: 85%;
      border-radius: 24px;
      border: unset;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 26px;
      padding-right: 12px; }
      @media (min-width: 1440px) {
        .article-signin__form__input {
          max-width: 60%; } }
      .article-signin__form__input:focus {
        outline: none; }
    .article-signin__form__submit {
      width: 95%;
      padding-left: 26px;
      padding-right: 26px; }
      @media (min-width: 1440px) {
        .article-signin__form__submit {
          max-width: 30%; } }

.footer {
  --padding-bottom: 38px;
  --padding-top: 199px;
  padding-top: var(--padding-top);
  background-color: #0b1523;
  padding-bottom: var(--padding-bottom); }
  @media (min-width: 1440px) {
    .footer {
      --padding-bottom: 90px; } }
  .footer a:hover {
    font-weight: bold; }
  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 78px;
    padding-top: 41px; }
    @media (min-width: 1440px) {
      .footer__content {
        flex-direction: row;
        justify-content: space-between;
        gap: unset; } }
    .footer__content__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 22px; }
      @media (min-width: 1440px) {
        .footer__content__contacts {
          flex-direction: row;
          justify-content: space-between;
          gap: 81px; } }
      .footer__content__contacts__information {
        max-width: 375px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: flex-start;
        gap: 28px; }
        .footer__content__contacts__information svg {
          width: 32px; }
      .footer__content__contacts__list {
        display: flex;
        flex-direction: column;
        gap: 24px; }
        .footer__content__contacts__list__item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 28px; }
    .footer__content__navigation {
      display: flex;
      flex-direction: row;
      align-items: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 49px; }
      @media (min-width: 1440px) {
        .footer__content__navigation {
          flex-direction: row;
          justify-content: space-between;
          gap: 81px; } }
      .footer__content__navigation__list {
        display: flex;
        flex-direction: column;
        gap: 22px; }
    .footer__content__social {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 14px;
      align-self: center; }
      @media (min-width: 1440px) {
        .footer__content__social {
          align-self: flex-start; } }
      .footer__content__social__item__link {
        border: 1px solid currentColor;
        border-radius: 50%;
        padding-top: 14px;
        padding-bottom: 0px;
        padding-left: 4px;
        padding-right: 5px; }
        .footer__content__social__item__link:hover {
          color: #339ecc; }
